@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-size: calc(10px + 0.5555555556vw);
  color: #020A0A;
}
* body,
* html,
* #wrapper {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}
* #wrapper {
  display: flex;
  flex-direction: column;
}
* ul,
* ol {
  list-style-type: none;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  flex: 1;
}
.container .modal {
  display: flex;
  gap: 35px;
  max-width: 869px;
  width: 100%;
}
.container .modal__left {
  max-width: 348px;
  width: 100%;
}
.container .modal__left .modal__image {
  position: relative;
  width: 100%;
}
.container .modal__left .modal__image > img {
  width: 100%;
}
.container .modal__left .modal__image_name {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.container .modal__left .modal__info {
  margin-top: 45px;
}
.container .modal__left .modal__info_title {
  font-weight: 400;
}
.container .modal__left .modal__info_items {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 12px;
}
.container .modal__left .modal__info_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .modal__left .modal__info_item > *:first-child::first-letter {
  text-transform: uppercase;
}
.container .modal__left .modal__info_item > * {
  color: #787878;
}
.container .modal__right {
  flex: 1 1 489px;
  max-width: 489px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container .modal__right .modal__title {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 24px;
  color: #020A0A;
  line-height: 140%;
}
.container .modal__right .modal__subtitle {
  line-height: 140%;
  color: #787878;
  font-weight: 400;
}
.container .modal__right .sauces {
  padding-top: 24px;
  margin-top: 24px;
  border-top: 1px solid #E6E6E6;
  flex: 1 1 auto;
}
.container .modal__right .sauces__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}
.container .modal__right .sauces__title_hint {
  font-size: calc(14px + 0.2777777778vw);
  font-weight: bold;
}
.container .modal__right .sauces__title_hint::first-letter {
  text-transform: uppercase;
}
.container .modal__right .sauces__title_free {
  font-size: calc(12px + 0.2777777778vw);
  font-weight: 400;
  color: #787878;
}
.container .modal__right .sauces__items {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.container .modal__right .sauces__item {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 18px;
  max-height: 49px;
  border-radius: 5px;
  background-color: #F6F7F8;
}
.container .modal__right .sauces__item > *::first-letter {
  text-transform: uppercase;
}
.container .modal__right .sauces__item_info {
  display: flex;
  gap: calc(5px + 0.3472222222vw);
}
.container .modal__right .sauces__item_info .sauces__name::first-letter {
  text-transform: uppercase;
}
.container .modal__right .sauces__item_info .sauces__price {
  color: #787878;
}
.container .modal__right .sauces__item_count {
  display: flex;
  gap: calc(10px + 1.0416666667vw);
}
.container .modal__right .sauces__item_count .sauces__item_value {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .modal__right .sauces__item_count > button {
  outline: none;
  border: none;
  font-weight: 400;
  background-color: transparent;
  font-size: calc(24px + 0.8333333333vw);
  cursor: pointer;
}
.container .modal__right .sauces__item_count > button.disabled {
  opacity: 0.3;
  cursor: auto;
}
.container .modal__right .sauces__result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.container .modal__right .sauces__result_price {
  font-size: calc(22px + 0.6944444444vw);
  font-weight: bold;
}
.container .modal__right .sauces__result_add {
  height: calc(32px + 2.2916666667vw);
  max-width: 176px;
  flex: 1 1 auto;
  outline: none;
  border: none;
  border-radius: 40px;
  font-weight: 300;
  color: white;
  background-color: #DE341D;
  cursor: pointer;
}
.container .modal__right .sauces__result_add::first-letter {
  text-transform: uppercase;
}
@media (max-width: 400px) {
  .container .modal__right .sauces__result {
    padding: 0 10px 20px 0;
  }
}
@media (max-width: 900px) {
  .container .modal__right {
    max-width: 348px;
  }
}
@media (max-width: 900px) {
  .container .modal {
    flex-direction: column;
    align-items: center;
  }
  .container .modal .modal__title,
  .container .modal .modal__subtitle {
    text-align: center;
  }
}
@media (max-width: 396px) {
  .container .modal {
    padding: 20px 10px 0 10px;
  }
}/*# sourceMappingURL=style.css.map */